"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      indent_size: 2
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: ""
      analytics: false
    gherkin: {}
    handlebars: {}
    html:
      indent_size: 2
    jade: {}
    java: {}
    js:
      indent_size: 2
    json:
      indent_size: 2
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-minify":
    cssMinifier: "clean-css"
    jsMinifier: "UglifyJS2"
  "atom-pair":
    pusher_app_key: ""
    pusher_app_secret: ""
  "atom-runner":
    paneSplitDirection: "Down"
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "emmet"
      "minimap-codeglance"
      "open-in-browsers"
      "minimap"
      "minimap-autohider"
    ]
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".Trash"
      ".git"
      ".svn"
      "*.photoslibrary"
      "*.backup"
      "*.bak"
      "*.bck"
      "*.bz2"
      "*.doc"
      "*.docx"
      "*.gz"
      "*.gzip"
      "*.idraw"
      "*.key"
      "*.mindnode"
      "*.mm"
      "*.numbers"
      "*.odt"
      "*.ots"
      "*.pages"
      "*.pdf"
      "*.ppt"
      "*.pptx"
      "*.psd"
      "*.swo"
      "*.swp"
      "*.tar"
      "*.webloc"
      "*.url"
      "*.xls"
      "*.xlsx"
      "*.zip"
    ]
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
      "theme-toggler"
      "whitespace"
      "symbols-view"
    ]
    projectHome: "/Users/gp/src"
    telemetryConsent: "no"
  editor:
    fontFamily: "Roboto Mono"
    invisibles: {}
    scrollPastEnd: true
  "export-html":
    lineNumber:
      styles: "opacity: 0.40;"
    openIn: "browser"
    style: "grayscale.css"
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-plus":
    general:
      _analyticsUserId: "0227f2fe-1024-4402-828c-5903e57f81fa"
  linter:
    lintPreviewTabs: false
  "linter-shellcheck":
    userParameters: "-x -e SC2154"
  "linter-ui-default":
    decorateOnTreeView: "None"
    gutterPosition: "Left"
    statusBarPosition: "Right"
  "markdown-themeable-pdf":
    enableCustomFooter: false
    enableCustomHeader: false
    enableXHTML: true
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "one-dark-ui": {}
  "open-recent": {}
  pigments: {}
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    style:
      animationSpeed: 100
      defaultPanelHeight: "250"
      fontFamily: "Roboto Mono for Powerline"
      fontSize: "16"
      theme: "one-dark"
    toggles:
      runInsertedText: false
  "project-manager":
    sortBy: "title"
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "theme-toggler":
    darkSyntaxTheme: "one-dark-syntax"
    darkUiTheme: "one-dark-ui"
    lightSyntaxTheme: "one-light-syntax"
    lightUiTheme: "one-light-ui"
  "todo-show":
    findTheseTodos: [
      "t~"
      "c~"
      "f~"
      "q~"
      "n~"
      "p~"
      "e~"
      "r~"
    ]
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/.git"
      "**/_private/"
      "**/_repo/"
      "**/cheats/"
    ]
    saveOutputAs: "Table"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    softWrap: true
".js.source":
  editor:
    showIndentGuide: true
".plain.text":
  editor:
    softWrap: true
