cheats:
  title: "Cheats"
  paths: [
    "/Users/gp/src"
    "/Users/gp/src/cheats"
  ]
dotfile:
  title: "Dotfiles"
  paths: [
    "/Users/gp/src"
    "/Users/gp/src/config/dotfiles"
  ]
provision:
  title: "Provision"
  paths: [
    "/Users/gp/src"
    "/Users/gp/src/config/provision"
  ]
training:
  title: "Training"
  paths: [
    "/Users/gp/src"
    "/Users/gp/src/training"
  ]
