  #######################################################
  ##  filename: snippets.cson                          ##
  ##  path:     ~/src/config/dotfiles/atom/            ##
  ##  symlink:  ~/.atom/                               ##
  ##  purpose:  atom editor snippets                   ##
  ##  date:     04/19/2016                             ##
  ##  repo:     https://github.com/WebAppNut/dotfiles  ##
  #######################################################

# create a new snippet in this file by typing "snip" and then hitting tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.plain.text':
  'header':
    'prefix': 'hc'
    'body': """
      #####################################################
      ##  filename: .txt                                 ##
      ##  path:     ~/src/cheats/                        ##
      ##  date:     00/00/2016                           ##
      ##  repo:     https://github.com/WebAppNut/cheats  ##
      #####################################################

      ▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁
      heading
      ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔

      """
'.source.shell':
  'header':
    'prefix': 'hc'
    'body': """
      #!/usr/bin/env bash

      ##########################################################
      ##  filename: .sh                                       ##
      ##  path:     ~/src/config/bin                          ##
      ##  symlink:  ~/                                        ##
      ##  purpose:                                            ##
      ##  date:     00/00/2016                                ##
      ##  repo:     https://github.com/WebAppNut/             ##
      ##  source:   $ . ~/src/config/bin/.sh                  ##
      ##  note:                                               ##
      ##########################################################


      """
