  #######################################################
  ##  filename: snippets.cson                          ##
  ##  path:     ~/src/config/dotfiles/atom/            ##
  ##  symlink:  ~/.atom/                               ##
  ##  purpose:  atom editor snippets                   ##
  ##  date:     07/02/2016                             ##
  ##  repo:     https://github.com/DevOpsEtc/dotfiles  ##
  #######################################################

# create a new snippet in this file by typing "snip" and then hitting tab.
#
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

# HTML: .text.html.basic
# CSS: .source.css
# SASS: .source.sass
# JavaScript: .source.js
# JSON: .source.json
# PHP: .text.html.php
# Java: .source.java
# Ruby: .text.html.erb
# Python: .source.python
# plain text (including markdown): .text.plain


'.text.html':
  'ng-app':
    'prefix': 'ng-app'
    'body': """
      ng-app="$1"
      """
  'ng-if':
    'prefix': 'ng-if'
    'body': """
      ng-if="$1"
      """
  'ng-init':
    'prefix': 'ng-init'
    'body': """
      ng-init="$1"
      """
  'ng-show':
    'prefix': 'ng-show'
    'body': """
      ng-show="$1"
      """
  'ng-hide':
    'prefix': 'ng-hide'
    'body': """
      ng-hide="$1"
      """
  'ng-repeat':
    'prefix': 'ng-repeat'
    'body': """
      ng-repeat="$1"
      """
  'ng-model':
    'prefix': 'ng-model'
    'body': """
      ng-model="$1"
      """
  'ng-click':
    'prefix': 'ng-click'
    'body': """
      ng-click="$1"
      """
  'ng-style':
    'prefix': 'ng-style'
    'body': """
      ng-style="$1"
      """
  'ng-src':
    'prefix': 'ng-src'
    'body': """
      ng-src="$1"
      """
  'ng-class':
    'prefix': 'ng-class'
    'body': """
      ng-class="$1"
      """
  'ng-cloak':
    'prefix': 'ng-cloak'
    'body': """
      ng-cloak="$1"
      """
  'ng-options':
    'prefix': 'ng-options'
    'body': """
      ng-options="$1"
      """

'.plain.text':
  'header':
    'prefix': 'hc'
    'body': """
      #####################################################
      ##  filename: .txt                                 ##
      ##  path:     ~/src/cheats/                        ##
      ##  date:     00/00/2016                           ##
      ##  repo:     https://github.com/DevOpsEtc/cheats  ##
      #####################################################

      ▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁
      heading
      ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔

      """

  'heading':
    'prefix': 'hd'
    'body': """
      ▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁
      heading
      ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
      """

'.source.shell':
  'header':
    'prefix': 'hc'
    'body': """
      #!/usr/bin/env bash

      ##########################################################
      ##  filename: .sh                                       ##
      ##  path:     ~/src/config/bin                          ##
      ##  symlink:  ~/                                        ##
      ##  purpose:                                            ##
      ##  date:     00/00/2016                                ##
      ##  repo:     https://github.com/DevOpsEtc/             ##
      ##  source:   $ . ~/src/config/bin/.sh                  ##
      ##  note:                                               ##
      ##########################################################

      """

# angularjs
".source.js, .source.js-semantic":
  "IIFE Immediately-Invoked Function Expression":
    "prefix": "iife"
    "body": """
    /* IIFE (immediately-invoked function expression)
      - avoids variable hoisting from within blocks
      - protect against global namespace pollution
      - angular has own namespace, but not vanilla js */
    (function() {
    	'use strict';

    })(); // function end: IIFE
    """
  "module new":
    "prefix": "ngm"
    "body": """
    // create new module (setter)
    angular.module('$1', [$2])$3
    """
  "module reference":
    "prefix": "ngmr"
    "body": """
    // reference existing module (getter)
    angular.module('$1', [$2])$3
    """
  "module as variable":
    "prefix": "ngma"
    "body": "var $1 = angular.module('$2', [$3])$4"
  "module with config":
    "prefix": "ngmc"
    "body": """
      var $1 = angular.module('$2', [$3], function($4) {
          $5
      })$6
    """
